<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358717412915-vcf4bmgtq9oc4pppkggd556o6av8csmv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358717412915-vcf4bmgtq9oc4pppkggd556o6av8csmv</string>
	<key>API_KEY</key>
	<string>AIzaSyB1dDSQGj13Ua5rehYmESEEiJzZXp8a8XA</string>
	<key>GCM_SENDER_ID</key>
	<string>358717412915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loginbackfront.jeancesca.LoginIn</string>
	<key>PROJECT_ID</key>
	<string>login-backfront</string>
	<key>STORAGE_BUCKET</key>
	<string>login-backfront.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358717412915:ios:44986dc95e62d66c3eb546</string>
</dict>
</plist>